{% extends 'image_store/base.html' %}
{%load static%}
{%block head%}
  <!--STYLE -->
  <link rel="stylesheet" href="{% static 'image_store/css/load_image_tool.css' %}">
{%endblock%}
{%block bottom%}
<script src="{%static 'image_store/js/load_image_tool.js'%}"></script>
{%endblock%}
{%block content%}


<!-- LOAD TOOL -->
{# include 'image_store/image_load_tool.html' #}
<style>
body{
    background: #2C303C;
}
header{
    margin-bottom: 75px;
}
/* h1 {
    text-align: center;
    color: #999 !important;
    background: rgba(0, 0, 0, 0.36);
    margin: 0;
    padding: 5px;
} */
.category {

    text-align: center;
    color: #999;
    margin: 0;
    padding: 5px;
    font-size: 1.8em;
    position: relative;
}
hr {
    margin-top: 80px !important;
    height: 4px;
    margin: 30px 20px;
    border-top: 2px solid #1C1E26;
    border-bottom: 2px solid #38404D;
}
.badges-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0;
    /* justify-content: center; */
}
.badges-wrapper a{
    margin-top: 45px;
    font-size: 22px;
}
.badges-wrapper img{
    cursor: pointer;
    width: 100%;
    position: relative;
    transition: all 0.2s ease;
    top: 0; 
}
.bagde-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    margin: 20px 5px;
}
.badges-wrapper img:hover{
    top: -6px;
}



#side-scroll{
    position: fixed;
    left: 40px;
    top: 35%;
    display: flex;
    flex-direction: column;
    border: 3px solid #38404D;
    border-radius: 45px ;
    padding: 10px;
}
#side-scroll a{
    cursor: pointer;
    margin-top: 3px;
    width: 100px;
    padding: 8px;
    transition: 0.2s;
}
#side-scroll a.active{
    padding: 0;
}
#side-scroll a img{
    width: 100%;
}
</style>
<div id="side-scroll">
    <a class="active">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
    </a>
    <a>
        <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
    </a>
    <a>
        <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="" >
    </a>
    <a>
        <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="" >
    </a>
</div>
<div class="container">
<!-- BADGES -->
{%block badges%}


{% regroup badges by get_type_display as badge_types %}

    {%for badge_type in badge_types%}
    <h1 class="category">{{badge_type.grouper}}</h1>
    <div class="badges-wrapper">
        {%for badge in badge_type.list%}
        {%if forloop.counter0 < 18%}
        <div class="bagde-wrap item" id="{{badge.pk}}">
            <img src="{{badge.image.url}}">
        </div>
        {%endif%}
        {%endfor%}
        {%if badge_type.list|length >= 18%}
        <a href="{%url 'image_store:badges_category' badge_type.grouper %}" class="link-secondary">Посмотреть все</a>
        {%endif%}
    </div>
    <hr>
{%endfor%}

{%for category in badge_categorys%}
    <h1 class="category">{{category.ru}}</h1>
    <div class="badges-wrapper">
        {%for badge in category.badge_set.all%}
            {%if forloop.counter0 < 18%}
            <div class="bagde-wrap item" id="{{badge.pk}}">
                <img src="{{badge.image.url}}">
            </div>
            {%endif%}
        {%endfor%}
        {%if category.badge_set.all|length >= 18%}
        <a href="{%url 'image_store:badges_category' category.pk %}" class="link-secondary">Посмотреть все</a>
        {%endif%}
    </div>
{%endfor%}

{%endblock%}
<!-- BADGES -->

{%block example%}
<!-- EXAMPLE -->
<h2>Discounts</h2>

    <div class="badges-wrapper">
        {%for i in range_16%}
        <div class="bagde-wrap">
            <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
        </div>
        {%endfor%}
        </div>

<hr>
<h2>100% garants</h2>
<div class="badges-wrapper">
    {%for i in range_16%}
    <div class="bagde-wrap">
        <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
    </div>
    {%endfor%}
</div>
<hr>
<h2>Prouf of Natural</h2>
<div class="badges-wrapper">
    {%for i in range_16%}
    <div class="bagde-wrap">
        <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="" >
    </div>
    {%endfor%}
</div>
<hr>
<h2>100% Garants of natural</h2>
<div class="badges-wrapper">
    {%for i in range_16%}
    <div class="bagde-wrap">
        <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="" >
    </div>
    {%endfor%}
</div>
<!-- EXAMPLE -->
{%endblock%}



</div>
<script>
    $('#side-scroll a').click(function(){
        $('#side-scroll a').removeClass('active')
        $(this).addClass('active')  
    })
</script>

{%endblock%}