body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
overscroll-behavior: none;
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
    /* background-size: 20px 20px; */
}
header{
    margin-bottom: 55px;
}
#app{
    
}
#tabs{
    margin: 20px;
}
#chartdiv {
    width: 100%;
    height: 500px;
    background-color: white;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.item{
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin: 2px;
    transition: all 0.2s ease-out;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;    
}

.item img{
    width: 100%;
    /* DRAG */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}
.item.active{
    padding: 10px;
}
.item.active img{
    border: 5px solid #8cbffb;
    border-radius: 10px;
    opacity: 0.8;
}

#comments-exsamples{
    margin-top: 20px;
    background-color: #dee1e3;
    padding: 20px;
    border-radius: 20px;
}
#people-info{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#people-info img{
    max-height: 200px;
    border-radius: 5px;
    margin: 3px;
}

.space-footer{
    margin: 100px;
}