
<!-- IMAGE LOAD TOOL -->
<div id="tabs" >
    <div class="tab-nav-container" id="load-tabs">
      <div class="tab active country-color active" id="load-button" style="display: none;">
        <i class="fa-sharp fa-solid fa-download"></i>
          <p>Скачать</p>
      </div>
      <div class="tab country-color active"  id="image-count">
        <i class="fa-solid fa-image"></i>
          <p>Выберите фото</p>
      </div>
      <div class="tab country-color active"  id="chosen-avatars-link" style="display: none;">
        <i class="fa-solid fa-share-nodes"></i>
          <p>Ссылка на выбраные</p>
      </div>
      <div class="tab esc active"  id="esc-avatars" style="display: none;">
        <i class="fa-solid fa-xmark"></i>
          <p>ESC</p>
      </div>
    </div>
  <!-- IMAGE LOAD TOOL -->
  