{% extends 'image_store/base.html' %}
{%load static%}
{% block content %}
<style>
  h2.title, h3.title{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Future Earth', sans-serif;
    font-size: 22px;
  }
</style>

<style>
  /* TICKER */
  @keyframes ticker {
  from {transform: translate3d(0,0,0);}
  to {transform: translate3d(-100%,0,0);}
}
.ticker {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  /* background-color: black; */
  color: white;
  /* padding: 0 1em; */
}
.ticker img {
  margin: 8px;
  width: 80px;

}
.ticker .line{
  flex: 0 0 auto;
  animation: 30s linear 0s infinite ticker;
}
 /* TICKER */
</style>
<style>
  /* ФОРМА */
  .form-example-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,125,198,.5);
    padding: 5px;
    border-radius: 20px;
  }

  .form-example-wrapper input{
    font-size: 14px;
    width: 100%;
    padding: 5px;
    height: 35px;
    margin: 3px 0;
    border-radius: 10px;
    border: none;
  }

  @keyframes pulse{
  0%{
    transform: scale(.85);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(.85);
  }
  
  75%{
    transform: scale(1);
  }
  
  100%{
    transform: scale(.85);
  }
}




  .form-example-wrapper button{
   
    animation: pulse 3s infinite;

    visibility: visible;

    background: url(https://amazing-cdn.com/a.insumed-new.com/img/btn.png) no-repeat;
    width: 238px;
    height: 41px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    margin: 5px auto 0;
    -webkit-box-shadow: 0 0 29px -9px #7a26e2;
    box-shadow: 0 0 29px -9px #7a26e2;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    border-radius: 20px;
    text-transform: uppercase;

  }
  /* ФОРМА */
</style>
<link href="https://fonts.cdnfonts.com/css/future-earth" rel="stylesheet">
<style>
.kma-logo{
    width: 100px;
    margin: 20px 0;
}

.kma-logo-wrapper p{
  text-transform: uppercase;
  font-family: 'Future Earth', sans-serif;
}
.kma-logo-wrapper p span{
  color: #73BC9E;
}
.kma-logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    margin: 15px 0;
}




.weel img{
    width: 100%;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 40s linear infinite;
}
</style>
<style>
  /* AVATARS */
  .header .title{

  }
  .header .avatars img{
    width: 100px;
    border-radius: 12px;
    margin: 0 5px;
    transition: all ease .3s;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0);
}
.header .avatars img.active{
  border: 2px solid #fff;
}
.comm-wrapper{
  margin-top: 15px;
  width: 400px;
}
.comm-wrapper .comment{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  min-height: 130px;
}

.comm-wrapper .comment img{
  width: 100px;
  border-radius: 12px;
  margin: 0 20px;
  -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.comm-wrapper .comment .comment-name{
  font-size: 18px;
  margin-top: 10px;
  color: #0d263e;
  font-weight: 700;
}
.comm-wrapper .comment .comment-text{
  font-size: 18px;
  font-style: italic;
  color: #fff;
  margin-left: 8px;
}
    /* AVATARS */
</style>
<style>
  /* КОРОБКИ */
    .boxes{
        width: 400px;
    }
.boxes img{
    width: 100%;
    transform: scale(1);
    
}   
.boxes img.pulse{
  animation: pulse-box 1.5s infinite;
}
 .boxes .grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.boxes  div > div {
  padding: 10px;
  /* background-color: #ccc; */
}

@keyframes pulse-box {
	0% {
		transform: scale(1);
	}

  50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}
  /* КОРОБКИ */
</style>
<style>
    .container-main {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: 450px 1fr 1fr;
  grid-template-rows: 300px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas:
      "header header header"
      "sidebar content-1 content-1"
      "sidebar content-2 content-3"
      "footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}

.footer {
  grid-area: footer;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}





/* OTHER STYLES */
body{
    background-color: #3b404e;
}
.grid-wrapper {
  /* display: flex; */
  justify-content: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.elem {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
  border-radius: 4px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;


  background-color: #1EAAFC;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.sidebar {
  background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%)
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
}

.footer {
  background-color: #6C52D9;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}
</style>
<style>
  #slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  outline: 20px black solid;
  border-radius: 25px;
  margin: 15px 0;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}
#slider ul li img{
  width: 100%;

}
</style>
<div class="kma-logo-wrapper">
    <img src="https://kma.biz/assets/f864b9d1/img/logo_mini.svg" class="kma-logo">
    <p><span>KMA</span> Collections</p>
</div>
<div class="grid-wrapper container">
    <div class="container-main">
        <div class="elem header">
          <h2 class="title">Аваратки для коментариев</h2>
          <div class="avatars">
            <img data-key="vader" src="{%static 'image_store/img/avatars/vader.jpg'%}" class="active" >
            <img data-key="einstein" src="{%static 'image_store/img/avatars/einshtein.jpg'%}" >
            <img data-key="cartman" src="{%static 'image_store/img/avatars/cartman.gif'%}">
            <img data-key="stark" src="{%static 'image_store/img/avatars/stark.jpg'%}">
            <img data-key="mask" src="{%static 'image_store/img/avatars/mask.jpg'%}">
            <img data-key="trump" src="{%static 'image_store/img/avatars/trump.jpg'%}">
            <img data-key="mercury" src="{%static 'image_store/img/avatars/mercury.jpg'%}">
            <img data-key="cherchil" src="{%static 'image_store/img/avatars/cherchil.jpg'%}">
            <img data-key="gandalf" src="{%static 'image_store/img/avatars/gandalf.jpg'%}">
            <img data-key="cesar" src="{%static 'image_store/img/avatars/cesar.jpg'%}">
            <img data-key="sponge" src="{%static 'image_store/img/avatars/sponge.jpeg'%}">
          </div>
            <!-- Аватарки<br> -->
          <div class="comm-wrapper">
            <div class="comment">
              <img src="{%static 'image_store/img/avatars/vader.jpg'%}">
             <div class="comment-body">
              <h3 class="comment-name">Darth Vader</h3>
              <p class="comment-text"> - You don't know the power of the dark side!</p>
             </div>
            </div>
          </div>
        </div>
        <div class="elem sidebar">
            <div id="slider">
              <ul>
                <li>
                  <img src="{%static 'image_store/img/iphone_1.png'%}">
                </li>
                <li>
                  <img src="{%static 'image_store/img/iphone_2.png'%}">
                </li>
                <li >
                  <img src="{%static 'image_store/img/iphone_3.png'%}">
                </li>
              </ul>  
            </div>
          <!-- SLIDER -->
        </div>
        <div class="elem content-1 form-example">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
              <!-- HTML FORM -->
              <div class="form-example-wrapper">
                <h1>Make order!</h1>
                <form>
                <input type="text" name="name" placeholder="Your name">
                <input type="tel" name="name" placeholder="Your phone">
                <button class="pulse">Send</button>
                </form>
                </div>
   <!-- HTML FORM -->
            </div>
            <div class="col-1"></div>
            <div class="col-6">
              <!-- HTML CODE -->
              <!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;padding:.2em .6em; border-radius: 15px; margin: 5px;"><table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5
6
7
8</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;form-wrapper&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #f92672">&lt;h1&gt;</span>Make order!<span style="color: #f92672">&lt;/h1&gt;</span>
<span style="color: #f92672">&lt;form&gt;</span>
<span style="color: #f92672">&lt;input</span> <span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text&quot;</span> <span style="color: #a6e22e">name=</span><span style="color: #e6db74">&quot;name&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #f92672">&lt;input</span> <span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;tel&quot;</span> <span style="color: #a6e22e">name=</span><span style="color: #e6db74">&quot;name&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #f92672">&lt;button&gt;</span>Send<span style="color: #f92672">&lt;/button&gt;</span>
<span style="color: #f92672">&lt;/form&gt;</span>
<span style="color: #f92672">&lt;/div&gt;</span>
</pre></td></tr></table></div>

               <!-- HTML CODE -->
            </div>
            <!-- <div class="col-2"></div> -->
          </div>

        </div>
        <div class="elem content-2">
            <div class="boxes">
                <div class="grid">
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png" class="pulse"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>
                    <div class="box-w"><img src="/static/forms/images/box.png"></div>  
                  </div>
            </div>

        </div>
        <div class="elem content-3 weel">
            <img src="{%static 'forms/images/bigweel.png'%}" class="rotating">
        </div>
        <div class="elem footer">
          <!-- FOOTER BLOCK -->
          <div class="ticker">
            <div class="line">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">

              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">

              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">

              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
            </div>
            <div class="line">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">

              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">

              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">

              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
            </div>

          </div>
         <!-- FOOTER BLOCK -->
        </div>
      </div>
</div>


<script>

  function pulseRandomBox(){
    let num = Math.floor((Math.random() * 9) + 1) - 1;
    let boxes = $('.boxes img')
    let boxActive = $('.boxes img.pulse')
    boxActive.removeClass('pulse')
    let box = $(boxes[num])
    box.addClass('pulse')

  }
  var intervalId = setInterval(function() {
  pulseRandomBox()
}, 3000);
</script>
<script>
  // SLIDER
  jQuery(document).ready(function ($) {
var slideCount = $('#slider ul li').length;
var slideHeight = $('.sidebar').height() - 60;
var slideWidth = slideHeight/2;
var sliderUlWidth = slideCount * slideWidth;

$('#slider').css({ width: slideWidth, height: slideHeight });

$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

$('#slider ul li:last-child').prependTo('#slider ul');
$('#slider img').css({ width: slideWidth, height:slideHeight});

function moveRight() {
    $('#slider ul').animate({
        left: - slideWidth
    }, 350, function () {
        $('#slider ul li:first-child').appendTo('#slider ul');
        $('#slider ul').css('left', '');
    });
};


setInterval(function () {
    moveRight();
}, 3000);

});    

  // SLIDER
</script>
<script>
  let avatarSliderData = {
    'vader': {
      'name': 'Darth Vader',
      'text': "- You don't know the power of the dark side!"
    },
    'einstein': {
      'name': 'Albert Einstein',
      'text': "- E = mc2"
    },
    'cartman': {
      'name': 'Eric Cartman',
      'text': "- Screw You Guys I'm Going Home"
    },
    'stark': {
      'name': 'Ned Stark',
      'text': "- Winter is coming"
    },
    'mask': {
      'name': 'Elon Musk',
      'text': "- Tesla!"
    },
    'trump': {
      'name': 'Donald J. Trump',
      'text': "- Make America great again!"
    },
    'mercury': {
      'name': 'Freddie Mercury',
      'text': "- We will, we will rock you!"
    },
    'cherchil': {
      'name': 'Sir Winston Churchil',
      'text': "- Victoria!"
    },
    'cesar': {
      'name': 'Julius Caesar',
      'text': "- Veni Vidi Vici"
    },
    'sponge': {
      'name': 'Sponge Bob',
      'text': "- Who lives in a pineapple under the sea?"
    },
    'gandalf': {
      'name': 'Gandalf the Gray',
      'text': "- You shall not pass!"
    },
  }
  let commentImg = $('.comment img')
  function addComment(){
    let avatar = $('.avatars img.active')
    let src = avatar.attr('src')
    let key = avatar.attr('data-key')
    console.log(key)
    commentImg.attr('src',src)
    $('.comment .comment-name').text(avatarSliderData[key]['name'])
    $('.comment .comment-text').text(avatarSliderData[key]['text'])
  }

  $('.avatars img').click(function(){
    if (!$(this).hasClass('active')){
      $('.avatars img').removeClass('active')
      $(this).addClass('active')
      $('.comment').fadeOut(250, function(){
        addComment();
        $('.comment').fadeIn(250)
      })
    }
  })
</script>
{%endblock%}