{% extends 'image_store/base.html' %}
{%load static%}
{% block content %}
<style>
  /* TICKER */
  @keyframes ticker {
  from {transform: translate3d(0,0,0);}
  to {transform: translate3d(-100%,0,0);}
}
.ticker {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  /* background-color: black; */
  color: white;
  /* padding: 0 1em; */
}
.ticker img {
  margin: 8px;
  width: 80px;

}
.ticker .line{
  flex: 0 0 auto;
  animation: 30s linear 0s infinite ticker;
}
 /* TICKER */
</style>
<style>
  .form-example-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,125,198,.5);
    padding: 5px;
    border-radius: 20px;
  }

  .form-example-wrapper input{
    font-size: 14px;
    width: 100%;
    padding: 5px;
    height: 35px;
    margin: 3px 0;
    border-radius: 20px;
    border: none;
  }

  @keyframes pulse{
  0%{
    transform: scale(.85);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(.85);
  }
  
  75%{
    transform: scale(1);
  }
  
  100%{
    transform: scale(.85);
  }
}


  .form-example-wrapper button{
   
    animation: pulse 4s infinite;

    visibility: visible;

    background: url(https://amazing-cdn.com/a.insumed-new.com/img/btn.png) no-repeat;
    width: 238px;
    height: 41px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    margin: 5px auto 0;
    -webkit-box-shadow: 0 0 29px -9px #7a26e2;
    box-shadow: 0 0 29px -9px #7a26e2;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    border-radius: 20px;
    text-transform: uppercase;

  }

</style>
<link href="https://fonts.cdnfonts.com/css/future-earth" rel="stylesheet">
<style>
.kma-logo{
    width: 100px;
    margin: 20px 0;
}

.kma-logo-wrapper p{
  text-transform: uppercase;
  font-family: 'Future Earth', sans-serif;
}
.kma-logo-wrapper p span{
  color: #73BC9E;
}
.kma-logo-wrapper{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}



.avatars img{
    width: 100px;
    border-radius: 12px;
    margin: 0 5px;
}
.weel img{
    width: 100%;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 40s linear infinite;
}
</style>
<style>
    .boxes{
        width: 400px;
        
    }
.boxes img{
    width: 100%;
}

    
 .boxes .grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.boxes  div > div {
  padding: 10px;
  /* background-color: #ccc; */
}
</style>
<style>
    .container-main {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: 450px 1fr 1fr;
  grid-template-rows: 120px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas:
      "header header header"
      "sidebar content-1 content-1"
      "sidebar content-2 content-3"
      "footer footer footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}

.footer {
  grid-area: footer;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}





/* OTHER STYLES */
body{
    background-color: #3b404e;
}
.grid-wrapper {
  /* display: flex; */
  justify-content: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.elem {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
  border-radius: 4px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.header {
  background-color: #1EAAFC;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.sidebar {
  background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%)
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
}

.footer {
  background-color: #6C52D9;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}
</style>
<style>

.slider{
  position:relative;
  width:100%;
  height:100%;
}
/* .slide1{
  background:rgba(0,0,0,0.4) url('{%static 'forms/images/iphone.png'%}')
}
.slide2{
  background:rgba(0,0,0,0.4) url('{%static 'forms/images/iphone.png'%}')
}
.slide3{
  background:rgba(0,0,0,0.4) url('{%static 'forms/images/iphone.png'%}')
} */
.slide{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:grid;
  place-items:center;
  color:#fff;
  font-size:2rem;
  background-size:cover;
  background-position:center;
  background-blend-mode:overlay;
  animation:var(--i) 14s ease-in-out infinite
}

@keyframes fade1{
  0%{
    opacity:1
  }
  25%{
    opacity:0
  }
  75%{
    opacity:0
  }
  100%{
    opacity:1
  }
}
@keyframes fade2{
  0%{
    opacity:0
  }
  25%{
    opacity:1
  }
  75%{
    opacity:0
  }
  100%{
    opacity:0
  }
}
@keyframes fade3{
  0%{
    opacity:0
  }
  25%{
    opacity:0
  }
  75%{
    opacity:1
  }
  100%{
    opacity:0
  }
}
</style>
<div class="kma-logo-wrapper">
    <img src="https://kma.biz/assets/f864b9d1/img/logo_mini.svg" class="kma-logo">
    <p><span>KMA</span> Collections</p>
</div>
<div class="grid-wrapper container">
    <div class="container-main">
        <div class="elem header avatars">
            <!-- Аватарки<br> -->
            <img src="https://avatarfiles.alphacoders.com/170/thumb-170303.jpg">
            <img src="https://i.imgur.com/sKAXI2k.png">
            <img src="https://cdna.artstation.com/p/assets/images/images/027/495/108/original/art-eater-5.gif?1591708511">
            <img src="https://geekhero.ru/wp-content/uploads/2014/10/faa82f3e1d89c5c3fd20061664d886b1.jpg">
            <img src="https://i.imgur.com/tB2etHU.png">
            <img src="https://i.imgur.com/eO1LHpz.png">
            <!-- Avatars header -->
            <img src="https://qph.cf2.quoracdn.net/main-qimg-13640a59053f2a2ff97c656972443fb8.webp">
            <img src="https://obrazovaka.ru/wp-content/uploads/2014/08/Cherchil-Uinston.jpg">
            <img src="https://i.scdn.co/image/3a2af250d4060586f9a2e7ac5b6c548118bf1b9c">
            <img src="/media/avatars/europe-north/ce494813-2ffd-40d2-aa67-2837c8d2a27b.jpg">
            <img src="https://assets.nick.com/uri/mgid:arc:imageassetref:nick.com:a625d441-bbbf-42c8-9927-6a0157aac911?quality=0.7&gen=ntrn&legacyStatusCode=true">

          
        </div>
        <div class="elem sidebar">
          <!-- SLIDER -->
            <!-- <img src="{%static 'forms/images/iphone.png'%}" height="100%"> -->
            <div class="slider">
              <div class="slide slide1" style="--i:fade1">
                <img src="{%static 'forms/images/iphone_1.png'%}">
                <!-- <h2>Slide One</h2> -->
              </div>
              <div class="slide slide2" style="--i:fade2">
                <img src="{%static 'forms/images/iphone_2.png'%}">
                <!-- <h2>Slide Two</h2> -->
              </div>
              <div class="slide slide3" style="--i:fade3">
                <img src="{%static 'forms/images/iphone_3.png'%}">
                <!-- <h2>Slide Three</h2> -->
              </div>
            </div>
          <!-- SLIDER -->
        </div>
        <div class="elem content-1 form-example">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
              <!-- HTML FORM -->
              <div class="form-example-wrapper">
                <h1>Make order!</h1>
                <form>
                <input type="text" name="name" placeholder="Your name">
                <input type="tel" name="name" placeholder="Your phone">
                <button class="pulse">Send</button>
                </form>
                </div>
   <!-- HTML FORM -->
            </div>
            <div class="col-1"></div>
            <div class="col-6">
              <!-- HTML CODE -->
              <!-- HTML generated using hilite.me --><div style="background: #272822; overflow:auto;width:auto;padding:.2em .6em; border-radius: 15px; margin: 5px;"><table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5
6
7
8</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #f92672">&lt;div</span> <span style="color: #a6e22e">class=</span><span style="color: #e6db74">&quot;form-wrapper&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #f92672">&lt;h1&gt;</span>Make order!<span style="color: #f92672">&lt;/h1&gt;</span>
<span style="color: #f92672">&lt;form&gt;</span>
<span style="color: #f92672">&lt;input</span> <span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text&quot;</span> <span style="color: #a6e22e">name=</span><span style="color: #e6db74">&quot;name&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #f92672">&lt;input</span> <span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;tel&quot;</span> <span style="color: #a6e22e">name=</span><span style="color: #e6db74">&quot;name&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #f92672">&lt;button&gt;</span>Send<span style="color: #f92672">&lt;/button&gt;</span>
<span style="color: #f92672">&lt;/form&gt;</span>
<span style="color: #f92672">&lt;/div&gt;</span>
</pre></td></tr></table></div>

               <!-- HTML CODE -->
            </div>
            <!-- <div class="col-2"></div> -->
          </div>

        </div>
        <div class="elem content-2">
            <div class="boxes">
                <div class="grid">
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>
                    <div><img src="/static/forms/images/box.png"></div>  
                  </div>
            </div>

        </div>
        <div class="elem content-3 weel">
            <img src="{%static 'forms/images/bigweel.png'%}" class="rotating">
        </div>
        <div class="elem footer">
          <!-- FOOTER BLOCK -->
          <div class="ticker">
            <div class="line">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">

              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">

              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">

              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
            </div>
            <div class="line">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">
              <img src="https://cdn.pixabay.com/photo/2013/07/12/19/31/tag-154930_1280.png">

              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">
              <img src="https://www.pngmart.com/files/21/30-Off-PNG-Photo.png">

              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">
              <img src="https://amazing-cdn.com/variless-new.com/img/reward_02.png" alt="">

              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
              <img src="https://amazing-cdn.com/cap.detonnic-new.com/img/satisfaction.png" alt="">
            </div>

          </div>
         <!-- FOOTER BLOCK -->
        </div>
      </div>
</div>



{%endblock%}