{% extends 'image_store/base.html' %}
{% block content %}
{%load comment_block%}

<div id="chartdiv"></div>

<div id="tabs" >

  <div class="tab-nav-container" id="load-tabs">
    <div class="tab active country-color active" id="load-button" style="display: none;">
      <i class="fa-sharp fa-solid fa-download"></i>
        <p>Скачать</p>
    </div>
    <div class="tab country-color active"  id="image-count">
      <i class="fa-solid fa-image"></i>
        <p>Выберите фото</p>
    </div>
    <div class="tab country-color active"  id="chosen-avatars-link" style="display: none;">
      <i class="fa-solid fa-share-nodes"></i>
        <p>Ссылка на выбраные</p>
    </div>
    <div class="tab esc active"  id="esc-avatars" style="display: none;">
      <i class="fa-solid fa-xmark"></i>
        <p>ESC</p>
    </div>
  </div>




  <div class="container">
    <div class="row">

      <div class="col-3">
        xxx
      </div>

      <div class="col-6" id="chose-sex">
        <div class="tab-nav-container">
          <div class="tab man active" data-f="man">
            <i class="fa-solid fa-mars" ></i>
              <p>Мужчины</p>
          </div>
          <div class="tab woman" data-f="woman" >
            <i class="fa-solid fa-venus" ></i>
              <p>Женшины</p>
          </div>
          <div class="check" >
              <input type="checkbox" checked>
              <labe>18-34</labe>
          </div>
          <div class="check" >
              <input type="checkbox" checked>
              <labe>35-50</labe>
          </div>
          <div class="check" >
              <input type="checkbox" checked>
              <labe>50+</labe>
          </div>
      </div>
      </div>

      <div class="col-3">
        xxx
      </div>

    </div>
  </div>


</div>
<div id="app" class="container">


<div class="images" id="avatars" style="">


  {%for avatar in avatars%}
  <div class="item {{avatar.sex}} {{avatar.age}}" data-filter="{{avatar.sex}} {{avatar.age}} {{avatar.category}}" data-id="{{avatar.id}}">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{avatar.image.url}}" class="">
  </div>
  {%endfor%}

</div>
</div>



<div class="space-footer"></div>
<script>
  let currentGeoGroup = 'europe-north';
  let currentAge = '';
  let currentSex = 'man';



  $('.item').click(function(){
    $(this).toggleClass('active')
    countChosenImages()
  })

  function countChosenImages(){
    let count = $('#avatars .item.active').length
    if (count == 0) {
      escAvatars()
    } else {
      $('#image-count p').text(count)
      $('#esc-avatars').show()
      $('#load-button').show()
      $('#chosen-avatars-link').show()
    }
    
  }


  function escAvatars(){
    $('#esc-avatars').hide()
    $('#load-button').hide()
    $('#chosen-avatars-link').hide()
    $('.item').removeClass('active')
    $('#image-count p').text('Выберите фото')
    
  }
  $('#esc-avatars').click(function(){
    escAvatars()
  })

  
  function getChosenAvatarsId(){
    // получить список id выбраных аватарок
    let chosenAvatars = $('#avatars .item.active')
    let ids = []
    chosenAvatars.each(function(){
      avatarId = $(this).data('id')
      ids.push(avatarId)
    })
    return ids
  }

  
  // ссылка на просмотр выбранных аватарок
  $('#chosen-avatars-link').click(function(){
    let strIds = getChosenAvatarsId().join(',')
    let url = "{%url 'image_store:chosen_avatars'%}?avatars_ids=" + strIds
    window.open(url, '_blank')
  })

  

  $('#load-button').click(function(){
    console.log('DOWNLOAD')
    let strIds = getChosenAvatarsId().join(',')
    let url = "{%url 'image_store:download_chosen_avatars'%}?avatars_ids=" + strIds
    window.open(url, '_self')
  })

  // При клике на ESC
  $(document).keyup(function(e) {
     if (e.key === "Escape") { // escape key maps to keycode `27`
      escAvatars()
      }
  });


  // фильтрация аватарок по выбраным фильтрам
  function filterAvatars(){
    console.log(currentGeoGroup,currentAge,currentSex)
    let imagesToShow = $('#avatars .item').filter(function(){
      let avatarData = $(this).data('filter').split(' ')
      avatarData.push('')
      if (avatarData.includes(currentGeoGroup) && avatarData.includes(currentAge) && avatarData.includes(currentSex))
      {return true}
    })
    $('#avatars .item').hide()
    imagesToShow.show()
  }



  filterAvatars()
// Переключение контента при нажатии на tabs
$('#chose-sex .tab').click(function(){
  $('#chose-sex .tab').removeClass('active')
  $(this).addClass('active')
  console.log($(this).data('f'))
  if ($(this).data('f')){
    let filterClass = $(this).data('f');
    currentSex = filterClass
    filterAvatars()
  }
})
</script>

<script>





var root = am5.Root.new("chartdiv");
let lastId = 0;
root.fps = 120;

// Set themes
root.setThemes([
  am5themes_Animated.new(root)
]);


// Create chart
var chart = root.container.children.push(am5map.MapChart.new(root, {
  homeZoomLevel: 4,
  homeGeoPoint: { longitude: 10, latitude: 50 },
  panX: true,
  panY: false,
  wheelX: false,
  wheelY: false,
}));


// Create world polygon series
var worldSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
  geoJSON: am5geodata_worldLow,
  exclude: ["AQ"]
}));

worldSeries.mapPolygons.template.setAll({
  fill: am5.color(0xaaaaaa)
});


worldSeries.events.on("datavalidated", () => {
      chart.goHome();
    });

var legend = chart.children.push(am5.Legend.new(root, {

      useDefaultMarker: false,
      centerX: am5.p50,
      x: am5.p50,
      centerY: am5.p100,
      y: am5.p100,
      dy: -20,
      fill: am5.color(0x000000),
      layout: am5.GridLayout.new(root, {
          maxColumns: 5,
          fixedWidthGrid: true
        }),
      background: am5.RoundedRectangle.new(root, {
        fill: am5.color(0xffffff),
        fillOpacity: 1
      })
    }));


    // legend.valueLabels.template.set("forceH1idden", true)

    // При клике на фильтр
    legend.itemContainers.template.events.on("click", function(ev) {
      let poligon = ev.target.dataItem.dataContext._settings
      currentGeoGroup = poligon.key_filter
      zoomTo(poligon)
      hideLast()
      lastId = poligon.id
      filterAvatars()
    });


    // стили фильтров
    legend.labels.template.setAll({
    fontSize: 16,
    fontWeight: "800",
    disabled: true,
    fill: am5.color(0x000000),
    // fill: 'red',
  });

    // Create series for each group
    var colors = am5.ColorSet.new(root, {
      step: 2
    });
    colors.next();

countrysData = [
  {"name": "Европейцы",
  "data": ['AT', 'BY', 'BE', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'HU', 'IE', 'LV', 'LT', 'LU', 'MD', 'NL', 'NO', 'PL', 'RU', 'RS', 'SK', 'SI', 'SE', 'CH', 'UA', 'GB', "US", "CA", "AU"],
  "coors":{ longitude: 10, latitude: 50 },
  "key_filter": 'europe-north',
  "zoom": 5 },

  {"name": "Южная европа",
  "data": ['BA', 'HR', 'CY', 'GR', 'IT', 'ME', 'MK', 'PT', 'ES'],
  "coors":{ longitude: 10, latitude: 40 },
  "key_filter": 'europe-south',
  "zoom": 5 },

  {"name": "Арабы",
  "data": ['DZ', 'EG', 'LY', 'MA', 'TN', 'IQ', 'JO', 'KW', 'LB', 'OM', 'QA', 'SA', 'SY', 'AE', 'YE'],
  "coors":{ longitude: 12, latitude: 30 },
  "key_filter": 'arabs',
  "zoom": 5 } ,

  {"name": "Индейцы",
  "data": ['BZ', 'CR', 'CU', 'DO', 'SV', 'GT', 'HT', 'HN', 'JM', 'MX', 'NI', 'PA', 'PR', 'AR', 'BO', 'BR', 'CL', 'CO', 'EC', 'GF', 'GY', 'PY', 'PE', 'SR', 'UY', 'VE'],
  "coors":{ longitude: -65, latitude: -15 },
  "key_filter": 'latam',
  "zoom": 2.4 },

  {"name": "Турки и албанцы",
  "data": ['AL', 'XK', 'TR'],
  "coors":{ longitude: 25, latitude: 40 },
  "key_filter": 'turkish',
  "zoom": 10 },

  {"name": "Индийцы",
  "data": ['BD', 'BT', 'IN', 'NP', 'PK', "LK"],
  "coors":{ longitude: 78, latitude: 19 },
  "key_filter": 'india',
  "zoom": 5 },

  {"name": "Африка",
  "data": ['AO', 'BJ', 'BW', 'BF', 'BI', 'CM', 'CF', 'TD', 'CI', 'CD', 'DJ', 'GQ', 'ER', 'SZ', 'ET', 'GA', 'GH', 'GN', 'GW', 'KE', 'LS', 'LR', 'MG', 'MW', 'ML', 'MR', 'MZ', 'NA', 'NE', 'NG', 'CG', 'RW', 'SN', 'SL', 'SO', 'ZA', 'SS', 'SD', 'TZ', 'TG', 'UG', 'EH', 'ZM', 'ZW'],
  "coors":{ longitude: 24, latitude: -5 },
  "key_filter": 'afro',
  "zoom": 3 },

  {"name": "Азиаты",
  "data": ['KH', 'CN', 'JP', 'LA', 'MM', 'KP', 'KR', 'TH', 'VN'],
  "coors":{ longitude: 110, latitude: 30 },
  "key_filter": 'asia',
  "zoom": 3 },

  {"name": "Папуасы",
  "data": ['ID', 'PH', 'TL', 'PG', 'MY'],
  "coors":{ longitude: 124, latitude: 0 },
  "key_filter": 'papua',
  "zoom": 5 },
  {"name": "Центральная азия и кавказ",
  "data": ['AM', 'AZ', 'GE', 'KZ', 'KG', 'TJ', 'TM', 'UZ'],
  "coors":{ longitude: 45, latitude: 40 },
  "key_filter": 'central_asia',
  "zoom": 4 },
  ]

poligons = []
function addpoligons(){
  for (i in countrysData){
        let color = colors.next()

        group = countrysData[i]
        let polygonSeries = chart.series.push(
        am5map.MapPolygonSeries.new(root, {
        geoJSON: am5geodata_worldLow,
        include: group.data,
        fill: color,
        key_filter: group.key_filter,
        name: group.name,
        id: i,
        coors: group.coors,
        zoom: group.zoom,
      }));
  if (i != 0){polygonSeries.hide(0)}



  polygonSeries.mapPolygons.template.setAll({
        tooltipText: "[bold]{name}[/] [bold]({id})[/]",
        interactive: false,
        fill: color,
        strokeWidth: 2,

      });


  polygonSeries.mapPolygons.template.states.create("hover", {
        fill: am5.Color.brighten(color, -0.25)
      });

      polygonSeries.mapPolygons.template.events.on("pointerover", function(ev) {
        ev.target.series.mapPolygons.each(function(polygon) {
          polygon.states.applyAnimate("hover");
        });
      });

      polygonSeries.mapPolygons.template.events.on("pointerout", function(ev) {
        ev.target.series.mapPolygons.each(function(polygon) {
          polygon.states.applyAnimate("default");
        });
      });

  legend.data.push(polygonSeries);

  poligons.push(polygonSeries)
  }

}


addpoligons()

function hideLast(){
  for (i in poligons){
  let poligon = poligons[i]
  if (poligon.get('id') == lastId){
    poligon.hide(0)
  }
}}

function zoomTo(poligon){
  chart.zoomToGeoPoint(poligon.coors,poligon.zoom,true);
}




</script>
<style>

</style>
<script>
$('#chose-sex .tab').click(function(){
  $('#chose-sex .tab').removeClass('active')
  $(this).addClass('active')
})

</script>
<script>
  // LAZY LOAD
  const images = document.querySelectorAll('#avatars img')

  const options = {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  }

  function handleImg(myImg, observer){
    myImg.forEach(myImgSingle => {
      // console.log(myImgSingle.intersectionRatio);
      if (myImgSingle.intersectionRatio > 0){
        loadImage(myImgSingle.target)
      }
    })
  }

  function loadImage(image){
    // console.log(image.getAttribute('data-src'))
    image.src = image.getAttribute('data-src')
  }

  const observer = new IntersectionObserver(handleImg, options);

  images.forEach(img => {
    observer.observe(img)
  })
</script>

{% endblock %}