{% extends 'image_store/base.html' %}
{%load static%}
{% block content %}

<style>
    body{
      background-image: url(https://media.istockphoto.com/id/1262249474/vector/realistic-vector-brick-wall-pattern-horizontal-background-flat-wall-texture-white-textured.jpg?s=612x612&w=0&k=20&c=A4rEjKCR6apitQBrTG3mDUv0jpPySZeBYflfz4Sf0fI=) !important;
    }
    header{
      margin-bottom: 75px;
    }
    .container-frame{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
    }
    .container-frame .frame{
      margin: 10px;
      width: 300px;
      /* height: 300px; */
    }
    .frame img{
      width: 100%;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .frame img.blur{
      filter: blur(4px);
    }

    .frame .image{
      position: relative;
    }
  
    .top {
      width: 150px;
      margin: 0 auto;
      height: 35px;
      border-radius: 20px;
  }
  .top .pin {
      background-color: #C0A079;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: relative;
      margin: 0 auto;
      box-shadow: 0 4px 4px -2px rgb(193 163 123 / 80%);
  }
  .top .pin .rope {
      width: 2px;
      height: 60px;
      z-index: -1;
      /* background-color: #966E3A; */
      background-color: #bb4848;
      /* top: 50%; */
      top: 5px;
      position: absolute;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      /* box-shadow: 0 0 1px rgb(193 163 123 / 20%); */
      box-shadow: 0 0 1px rgba(193, 123, 123, 0.2);
      /* transition: 1s all; */
  }
  .top .pin .rope.left {
      left: -18px;
      transform: rotate(40deg);
      /* border-left: 1px solid #C0A27A;
      border-right: 1px solid #C0A27A; */
      border-left: 1px solid #665b4c;
      border-right: 1px solid #665b4c;
  }
  .top .pin .rope.right {
      right: -18px;
      transform: rotate(-40deg);
      border-right: 1px solid #665b4c;
      border-left: 1px solid #665b4c;
      /* border-right: 1px solid #C0A27A;
      border-left: 1px solid #C0A27A; */
  }



  #myModal img{
    width: 100%;
  }
  </style>
  <style>
    .frame-1 {
    border:25px solid #222222;
    /* padding: 25px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
    box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
  }
  
  .frame-1 .border {
    background:white;
    padding: 15px;
    /* -webkit-box-shadow:  10px 10px 10px 4px rgba(0, 0, 0, .4);
    box-shadow:  3px 7px 2px 5px rgba(0, 0, 0, .4); */
  }
  .frame-1 .image{
    -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
    box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
    border:2px inset #c9c9c9;
    padding: 5px;
  }
  
  </style>
  <style>
    .frame-2 .wrapp{
    background-color:blue;
    border:#343434 solid 20px;
    /* -webkit-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75); */
  }
  .frame-2 .outer{
  box-shadow: 2px 3px 6px 0 black;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(110, 110, 110) rgb(40, 40, 40) rgb(40, 40, 40) rgb(110, 110, 110);
}
  .frame-2 .wrapp .matte {
    padding: 15px;
    background-color:#d3d3d3;
    height:100%;
    -webkit-box-shadow: inset 10px 10px 37px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 37px 0px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 37px 0px rgba(0,0,0,0.75);
  
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  </style>
  <style>
    .frame-3 *{
      box-sizing:				border-box;
    }
    /* FRAME-3 */
    .frame-3 figure {
      }
  
    .frame-3 .outerBevel { /* of frame */
      box-shadow:				4px 6px 12px 0 black;
      border-width:			5px;
      border-style:			solid;
      border-color:			rgb(109, 84, 58) rgb(24, 19, 13) rgb(24, 19, 13) rgb(109, 84, 58);
      }
  
    .frame-3 .flatSurface { /* of frame */
      border:						12px solid rgb(65, 40, 16);
      }
  
    .frame-3 .innerBevel { /* of frame */
      border-width:			5px;
      border-style:			solid;
      border-color:			rgb(24, 19, 13)	rgb(109, 84, 58) rgb(109, 84, 58) rgb(24, 19, 13);
      }
  
    .frame-3 .map { /* including mat and gold beveled edge of mat */
      display:					block;
      clear:						both;
      height:						100%;
      width:						100%;
      padding:					7.5% 7.5% 10% 7.5%; /* Mat width */
      background-color:	rgb(255,249,224); 	/* Mat color */
      border-width:			3px;	/* Gold edge of mat */
      border-style:			solid;
      border-color:			rgb(207, 166, 0) rgb(207, 166, 0) rgb(145, 110, 0) rgb(145, 110, 0);
      }
  </style>
  <style>
    .frame-4{}
    .frame-4 div{
      border: 37px solid transparent;
      -webkit-border-image: url(https://www.nkunited.de/ExternalImages/artGallery/ImageFrame_bright.png) 37 round;
      -o-border-image: url(https://www.nkunited.de/ExternalImages/artGallery/ImageFrame_bright.png) 37 round;
      border-image: url(https://www.nkunited.de/ExternalImages/artGallery/ImageFrame_bright.png) 37 round;
      box-shadow: 0px 10px 20px 0px grey;
    }
  </style>
  <style>
  
  .frame-5 img,
  .frame-6 img {
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    max-height:100%;
    max-width:100%;
  }
  
  .frame-5 div,
  .frame-6 div {
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:20px;
    position:relative;
    text-align:center;
  }
  .frame-6 div{ 
    background-color:#e9ecef;
    border:solid 3vmin #eee; 
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
  }
  .frame-5 div:before {
    pointer-events: none;
      border-radius:2px;
      bottom:-2vmin;
      box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
      content:"";
      left:-2vmin;
      position:absolute;
      right:-2vmin;
      top:-2vmin;
    }
    .frame-5 div:after {
      pointer-events: none;
      border-radius:2px;
      bottom:-2.5vmin;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
      content:"";
      left:-2.5vmin;
      position:absolute;
      right:-2.5vmin;
      top:-2.5vmin;
    }
  
  </style>
  <style>
    .zoom{
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /* background-color: red; */
      opacity: 0;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-out;
      cursor: pointer;
    }
    .zoom i{
      font-size: 40px;
      color: #343434;
    }
    .zoom:hover{
      /* filter: blur(4px); */
      opacity: .5;
    }
  </style>
  
  <body>  

    <div class="container-frame">
  {%spaceless%}
        {%for cert in certs%}
        {%if cert.frame_num == 1%}
        
        <!-- FRAME-1 -->
      <div class="frame">
        <div class="top">
          <div class="pin">
            <div class="rope left"></div>
            <div class="rope right"></div>
          </div>
        </div>
        <div class="frame-1">
          <div class="border">
            <div class="image">
              <img src="{{cert.image.url}}" />
              <span class="zoom">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
        <!-- FRAME-1 -->
  
        {%elif cert.frame_num == 2%}
        
        <!-- FRAME-2 -->
        <div class="frame">
          <div class="top">
            <div class="pin">
              <div class="rope left"></div>
              <div class="rope right"></div>
            </div>
          </div>
          <div class="frame-2">
            <div class="outer">
              <div class="wrapp">
                <div class="matte image">
                  <img class="art" src="{{cert.image.url}}">
                  <span class="zoom">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FRAME-2 -->
  
        {%elif cert.frame_num == 3%}
        
        <!-- FRAME-3 -->
       <div class="frame">
        <div class="top">
          <div class="pin">
            <div class="rope left"></div>
            <div class="rope right"></div>
          </div>
        </div>
        <div class="frame-3">
          <figure>
            <div class="outerBevel">
              <div class="flatSurface">
                <div class="innerBevel image">                 
                  <img src="{{cert.image.url}}" >
                  <span class="zoom">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </div>
              </div>
            </div>
          </figure>      
        </div>
       </div>
        <!-- FRAME-3 -->

        {%elif cert.frame_num == 4%}
        
        <!-- FRAME-4 -->
        <div class="frame">
          <div class="top">
            <div class="pin">
              <div class="rope left"></div>
              <div class="rope right"></div>
            </div>
          </div>
          <div class="frame-4">
            <div class="image"> 
              <img class="art" src="{{cert.image.url}}">
              <span class="zoom">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- FRAME-4 -->
  
        {%elif cert.frame_num == 5%}
        <!-- FRAME-5 -->
        <div class="frame">
          <div class="top">
            <div class="pin">
              <div class="rope left"></div>
              <div class="rope right"></div>
            </div>
          </div>
          <div class="frame-5">
            <div class="image">   
              <img src="{{cert.image.url}}" />
              <span class="zoom">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
            
          </div>
        </div>
        <!-- FRAME-5 -->

        {%elif cert.frame_num == 6%}
        <!-- FRAME-6 -->
        <div class="frame">
          <div class="top">
            <div class="pin">
              <div class="rope left"></div>
              <div class="rope right"></div>
            </div>
          </div>
          <div class="frame-6">
            <div class="image">  
              <img src="{{cert.image.url}}" />
              <span class="zoom">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
            
          </div>
        </div>
        <!-- FRAME-6 -->
        {%endif%}

        {%endfor%}
      {%endspaceless%}
    </div>
      <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="" id="show-img">
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
    <!-- Modal -->
   <script>
    let modal = $('#myModal')
    let modalImg=$('#show-img')
    $('.frame .zoom').hover(function(){
      $(this).siblings().addClass('blur')
      },
      function(){
        $(this).siblings().removeClass('blur')
      }
    )
    $('.frame .zoom').click(function(){
      let img = $(this).siblings()
      showSertModal(img)
    })

    function showSertModal(showImg){
      modalImg.attr('src', showImg.attr('src'))
      modal.modal('show')
      }
   </script>
{%endblock%}