{%extends 'image_store/base.html'%}
{%block content%}
<style>
    body{
        background-color: rgba(0, 0, 0, .7);
    }
</style>
<h1>123123</h1>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {%for form in forms%}
        <div class="col">
          <div class="card h-100">
            <img src="{{form.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ID: {{form.id}}</h5>
              <a href="{{form.url}}" class="btn btn-primary" target="_blank">Link</a>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
</div>
{%endblock%}